<head>
    <style>
        img {
            width: 400px;

        }
    </style>
</head>
<body>
<h1>
    ERROR!!!
</h1>

<img src="https://media.tenor.com/7zmfFmzCUJIAAAAi/sad-spongebob.gif">
<br/><br/>
<a href="http://localhost:3000">Return to Login Page</a>
</body>